.pwd-input input {
    height: 50px;
    text-align: center;
    font-size: 1.25rem;
}
.pwd-input input[type=text] {
    letter-spacing: 2px;
}
.pwd-input input[type=password] {
    letter-spacing: 4px;
}